
body {
  background-image: url('https://raw.githubusercontent.com/levent1ozgur/site/refs/heads/main/style/xp.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 32px;
}

h1 {
  font-size: 1.5rem;
}

p {
  margin: 8px 0;
}

.window {
  margin-bottom: 16px;
}

.tabs menu {
  margin-bottom: 8px;
}

#certifications p,
#projects p {
  margin: 4px 0;
}

#move {
  position: absolute;
  cursor: grab;
}

#move:active {
  cursor: grabbing;
}
